.primary_btn{
    background-color: var(--gray);
    color: white;
    border-radius: 5px;
    padding: 18px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
    min-width: 220px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
}

.outline_btn{
    border: 2px solid var(--gray);
    color: var(--gray);
    border-radius: 5px;
    padding: 18px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
    min-width: 220px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}