

.hero{
    display: flex;
    justify-content: center;
    height: calc(100vh - 72px);  
    /* 72px is the height of the navbar */
}
.hero-content{
    display: flex;
    flex-direction: column;
    width: 595px;
    gap: 24px;
   
}
.hero h1{
    font-size: 108px;
    font-weight: 800;
    line-height: 102px;
}


.hero-content-paragraph{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 404px;
    color: var(--gray);

}
button{
    font-size: 24px;
    font-weight: 500px;
    line-height: 29.05px;
    padding: 6px 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    height: 41px;
    width: 150px;
    color: white;
}
.hero-button{
    display: flex;
    gap:10px;  
}
.hero-button-primary{
    background-color: var(--red);
}
.hero-button-secondary{
    background-color: var(--gray);
}
.shopping-paragraph{
    font-size: 14px;
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 8px;
}
.brand-icons{
    display: flex;
    gap: 16px;
}
