
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    height: 72px;
    align-items: center;
    
    
}
nav img{
    width: 72px;
    height: 72px;
    
    

}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 24px; 
   
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
